
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    line-height: 1.5;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    
    justify-content: space-between;
    ul{
        max-width: 400px;
        display: grid;
        grid-template-columns:repeat( auto-fit,minmax(100px, auto));
        justify-content: space-around;
        align-content:center;
    }
}
.login-div{ 
    width: 400px;
    margin: 0 auto;
    .login-div-header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-bottom: 1rem;
       
    }
    .login-input-div{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

    }
    .login-btn-div{
        display: flex;
        justify-content: flex-end;
    }   

}

.hero-unsigned{
    text-align: center;
    background-color: yellowgreen;
    padding: 0.5rem;
    h2{
        font-size: 2.5rem;
        font-weight: 800;
    }
}

.main-section{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0.5rem;

    
}

.tags-section{
    background-color: #f3f3f3;
    // height:400px;
    padding: 0.5rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin: 0 auto;
    .tags-inner-div{
       .tag-btn{
            margin-bottom: 0.25rem;
            border-radius: 8px;
        }
        
    }
}
.editor-form{
    width: 80%;
    margin: 0 auto;
}
.settings-form{
    
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.profile-hero-section{
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    background-color: #999999;
    .profile-picture-div{
        width: 144px;
        height: 144px;
        
        height: auto;
        img{
            width: 100%;
            border-radius: 50%;
        }
        
    }
    .profile-settings-btn-div{
        position: absolute;
        bottom: 20px;
        right: 60px;
    }
}
.profile-div{
    .profile-articles{
        margin-top: 1.5rem;
    }
}
.block{
    display: block;
}
h2{
    text-align: center;
}